name: execercise123

on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: print branch name
        run: |
          echo "The branch name is ${{ github.ref_name }}"
          echo "The branch name is ${{ github.shadow_ref_name }}"
